<div class="tabs-table-content">
	<header class="tabs-table-content__header">
		<h2 class="text_large text_black">
			<%=head%>
		</h2>
	</header>
	<p class="tabs-table-content__row">
		<span class="text_small text_gray">
			<%=body%>
		</span>
	</p>
</div>